:root {
	--text-dark: #333333;
	--text-light: #666666;
	--border-light: #eeeeee;
	--bg-yellow: #ffc400;
	--bg-primary: #0095ff;
	--bg-secondary: #333;
	--bg-danger: #f03030;
}

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: var(--bg-primary);
	text-decoration: none;
	font-size: 16px;
	font-weight: 700;
}

.container-sm {
	padding: 24px;
	width: 400px;
	max-width: 100%;
	margin: 0 auto;
}

.container-md {
	padding: 24px;
	width: 600px;
	max-width: 100%;
	margin: 0 auto;
}

.modal {
	content: '';
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background-color: black;
	opacity: 0.3;
}
.modal-container {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.card {
	padding: 24px;
	border: 1px solid var(--border-light);
	background-color: white;
}

.card .title {
	font-size: 24px;
	padding-bottom: 12px;
	color: var(--text-dark);
	font-weight: 900;
}

.form-group {
	display: flex;
	flex-direction: column;
	padding: 8px 0px;
}

.form-group label {
	font-size: 14px;
	font-weight: 600;
	color: var(--text-light);
}

.form-group input {
	font-size: 16px;
	padding: 4px 8px;
	border-radius: 20px;
	border: 1px solid var(--border-light);
}

.form-group .form-error {
	font-size: 12px;
	font-weight: 600;
	padding: 12px;
	color: var(--text-dark);
	background-color: var(--bg-yellow);
}

.btn {
	padding: 8px 16px;
	border: 0px;
	font-weight: 900;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
	border-radius: 24px;
}

.btn.btn-primary {
	background-color: var(--bg-primary);
}
.btn.btn-secondary {
	background-color: var(--bg-secondary);
}
.btn.btn-danger {
	background-color: var(--bg-danger);
}

.text-center {
	display: flex;
	justify-content: center;
}
